<%- include("partials/serverheader", { bot, user, path, title: `Панель управления | ${guild.name}` }) %>

<div class="min-h-screen w-full">
  <div id="content">
    <div class="grid grid-cols-7">
      <div class="hidden md:block sm:col-span-1 md:col-span-2 lg:col-span-1">
        <%- include("partials/sidebarDashboard", { bot, user, path, guild }) %>
      </div>
        
      <div class="col-span-7 xl:justify-self-left w-full md:col-span-5 xl:col-span-5 mt-5">
        <div class="bg-[#2C2F33] container md:ml-10 w-full w-full md:w-11/12 xl:w-10/12">
          <h1 class="ml-2 text-white text-2xl mb-3 font-medium">Настройки</h1>

          <% if (alert) { %>
            <div class="bg-[#23272A] rounded text-teal-900 px-4 py-3 shadow-2xl my-4" role="alert">
              <div class="flex">
                <div class="py-1"><svg class="fill-current h-6 w-6 text-white mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                <div>
                  <p class="font-bold text-white text-shadow-md">Ваши настройки были сохранены!</p>
                  <!--<p class="text-sm">Описание</p>-->
                </div>
              </div>
            </div>
          <% } %>
            
          <div class="bg-[#23272A] p-3 rounded-xl border-l-4 border-pink-400">
            <div class="grid grid-cols-1 gap-4">
              <h1 class="text-white text-2xl ml-5 mt-5">Команды</h1>
              <h1 class="text-gray-400 text-sm mb-2 ml-5">Вы можете менять префикс, используемый перед командами</h1>
              <div class="px-5 py-5 border-t-[1px] border-gray-700">
                <div class="grid grid-cols-1">
                  <form id="prefixForm" method="post">
                    <div class="grid grid-cols-1">
                      <label class="text-gray-400">Префикс</label>
                      <input class="rounded-md bg-[#23272A] border-2 border-inherit my-2 p-2 text-white hover:border-pink-400" type="text" name="prefix" value="<%= settings.prefix %>">
                      <div class="flex ">
                        <div class="bg-gray-900 text-gray-400 rounded px-2 mr-2"><span class="font-bold text-white"> <%= settings.prefix %></span>help </div>
                        <div class="bg-gray-900 text-gray-400 rounded px-2 mr-2"><span class="font-bold text-white"> <%= settings.prefix %></span>ascii hello </div>
                      </div>
                    </div>
                  
                    <div class="grid content-end justify-end mt-6">
                      <input type="submit" name="prefixSubmit" value="Сохранить" class="p-2 lg:px-4 md:mx-2 text-white rounded bg-pink-400 hover:bg-pink-500">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-[#23272A] p-3 rounded-xl border-l-4 border-amber-50 mt-5">
            <div class="grid grid-cols-1 gap-4">
              <h1 class="text-white text-2xl ml-5 mt-5">Язык</h1>
              <h1 class="text-gray-400 text-sm mb-2 ml-5">Вы можете менять язык, используемый в командах</h1>
              <div class="w-4/4 px-5 py-5 border-t-[1px] border-gray-700">
                <div class="grid grid-cols-1">
                  <form id="languageForm" method="post">
                    <div class="grid grid-cols-1">
                      <label class="text-gray-400">Язык бота</label>
                      <input class="rounded-md bg-slate-700 my-2 p-2 text-white" type="text" name="language" value="--">
                      <div class="flex ">
                        <div class="bg-gray-900 text-gray-400 rounded px-2 mr-2"><span class="font-bold text-white">Язык</div>
                        <div class="bg-gray-900 text-gray-400 rounded px-2 mr-2"><span class="font-bold text-white">Language</div>
                      </div>
                    </div>
                  
                    <!-- <div class="grid content-end justify-end mt-6">
                      <input type="submit" name="languageSubmit" value="Сохранить" class="p-2 lg:px-4 md:mx-2 text-white rounded bg-pink-400 hover:bg-pink-500">
                    </div> -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>